.content .new-topic h3 {
  margin: 30px 0 15px;
  font-size: 18px;
  border-bottom: 1px solid #eee;
}
.content .topic_text .menu {
  padding: 0;
  margin: 0 0 10px 25px;
}
.content .topic_text .menu li {
  list-style-type: disc;
  line-height: 2em;
}