.footer {
  background-color: #fff;
  color: #e2e2e2;
  padding: 20px 0;
}
.footer footer-add {
  margin-bottom: 10px;
}
.footer .dark {
  font-size: 14px;
}
.footer p {
  margin-bottom: 10px;
  color: #ababab;
}